In [14]:
import json
import pandas as pd

with open(r'C:\Users\Pc\Desktop\MÃ¡ster\Data Science (Pontia)\Proyecto Jupyter\Data\alarma_fraude.json') as f:
    data=json.load(f)

In [15]:
df = pd.DataFrame.from_dict(data, orient="index")
#df=df.rename(columns=({'t_id':'Trans_ID','mensaje_alarma':'Alarma'}))
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [18]:
df=df.reset_index()

In [19]:
df.head()

     index     t_id    mensaje_alarma
0  2736446  2736446  Detectado_fraude
1  3247297  3247297  Detectado_fraude
2  3760288  3760288  Detectado_fraude
3  5563713  5563713  Detectado_fraude
4  5996407  5996407  Detectado_fraude

In [20]:
df = df.drop('index', axis=1)

In [21]:
df.head()

      t_id    mensaje_alarma
0  2736446  Detectado_fraude
1  3247297  Detectado_fraude
2  3760288  Detectado_fraude
3  5563713  Detectado_fraude
4  5996407  Detectado_fraude

In [22]:
df.tail()

       t_id    mensaje_alarma
11  6296014  Detectado_fraude
12  6351225  Detectado_fraude
13  6362460  Detectado_fraude
14  6362462  Detectado_fraude
15  6362584  Detectado_fraude

In [23]:
df

       t_id    mensaje_alarma
0   2736446  Detectado_fraude
1   3247297  Detectado_fraude
2   3760288  Detectado_fraude
3   5563713  Detectado_fraude
4   5996407  Detectado_fraude
5   5996409  Detectado_fraude
6   6168499  Detectado_fraude
7   6205439  Detectado_fraude
8   6266413  Detectado_fraude
9   6281482  Detectado_fraude
10  6281484  Detectado_fraude
11  6296014  Detectado_fraude
12  6351225  Detectado_fraude
13  6362460  Detectado_fraude
14  6362462  Detectado_fraude
15  6362584  Detectado_fraude