In [1]:
import json
import pandas as pd

In [9]:
with open(r'C:\Users\lopez_j8izppt\OneDrive\Documentos\Sets_Jupyter\balances.json') as f:
    d=json.load(f)

In [7]:
data={'cliente': [], 't_id':[], 'balance_prev':[], 'balance_post':[]}

# Primera columna
for clave in d:
    for i in range(len(d[clave])):
        data['cliente'].append(clave)
        data['t_id'].append(d[clave][i]['t_id'])
        data['balance_prev'].append(d[clave][i]['balance_prev'])
        data['balance_post'].append(d[clave][i]['balance_post'])

In [8]:
df = pd.DataFrame(data)
df.head(10)

       cliente   t_id  balance_prev  balance_post
0  C1231006815      0     170136.00     160296.36
1  M1979787155      0          0.00          0.00
2  C1666544295      1      21249.00      19384.72
3  M2044282225      1          0.00          0.00
4  C1305486145      2        181.00          0.00
5   C553264065      2          0.00          0.00
6   C553264065   6167          0.00     109985.65
7   C553264065   7903     109985.65      99729.44
8   C553264065  16381      99729.44       5254.44
9   C553264065  20003     211351.84       5254.44