In [1]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/balances.json") as f:
    balances=json.load(f)

In [2]:
lista_balance = []
for clave, datos_lista in balances.items():
    for datos in datos_lista:
        bal = {
            'cliente': clave,
            't_id': datos['t_id'],
            'balance_prev': datos['balance_prev'],
            'balance_post': datos['balance_post']
        }
        lista_balance.append(bal)

In [3]:
df_balance=pd.DataFrame(lista_balance)

In [4]:
df_balance.head(14)

        cliente    t_id  balance_prev  balance_post
0   C1231006815       0     170136.00     160296.36
1   M1979787155       0          0.00          0.00
2   C1666544295       1      21249.00      19384.72
3   M2044282225       1          0.00          0.00
4   C1305486145       2        181.00          0.00
5    C553264065       2          0.00          0.00
6    C553264065    6167          0.00     109985.65
7    C553264065    7903     109985.65      99729.44
8    C553264065   16381      99729.44       5254.44
9    C553264065   20003     211351.84       5254.44
10   C553264065   62736       5254.44    1317666.01
11   C553264065   91045    1452576.65    1317666.01
12   C553264065  113717    1317666.01    1303946.65
13   C553264065  227904    1303946.65    1384840.44

In [5]:
tipob=df_balance.dtypes
tipob

cliente          object
t_id              int64
balance_prev    float64
balance_post    float64
dtype: object