In [1]:
import json
import pandas as pd

In [2]:
with open('C:/Users/Pc/Desktop/MÃ¡ster/Data Science (Pontia)/Proyecto Jupyter/Data/clientes.json') as f:
    d = json.load(f)

In [3]:
data={'t_id':[], 'origen':[], 'destino':[]}

for clave in d:
    data['t_id'].append(clave)
    data['origen'].append(d[clave]['origen'])
    data['destino'].append(d[clave]['destino'])

In [4]:
df = pd.DataFrame(data)
df.head(5)

  t_id       origen      destino
0    0  C1231006815  M1979787155
1    1  C1666544295  M2044282225
2    2  C1305486145   C553264065
3    3   C840083671    C38997010
4    4  C2048537720  M1230701703

In [7]:
df['t_id'] = df['t_id'].astype(int)

In [11]:
df['origen'] = df['origen'].astype('string')

In [12]:
df.dtypes

t_id                int32
origen     string[python]
destino            object
dtype: object

In [10]:
df.to_csv('clientes.csv', sep= '|', index=False)