In [2]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/clientes.json") as f:
    clientes=json.load(f)

In [3]:
lista_clientes=[]
for t_id, datos in clientes.items():
    cliente = {
        't_id': t_id,
        'origen': datos['origen'],
        'destino': datos['destino']
    }
    lista_clientes.append(cliente)

In [4]:
df=pd.DataFrame(lista_clientes)

In [5]:
tipo=df.dtypes

In [6]:
tipo

t_id       object
origen     object
destino    object
dtype: object

In [7]:
df.head(12)

   t_id       origen      destino
0     0  C1231006815  M1979787155
1     1  C1666544295  M2044282225
2     2  C1305486145   C553264065
3     3   C840083671    C38997010
4     4  C2048537720  M1230701703
5     5    C90045638   M573487274
6     6   C154988899   M408069119
7     7  C1912850431   M633326333
8     8  C1265012928  M1176932104
9     9   C712410124   C195600860
10   10  C1900366749   C997608398
11   11   C249177573  M2096539129

In [8]:
df['t_id'] = df['t_id'].astype(int)

In [9]:
x=df.dtypes

In [10]:
x

t_id        int32
origen     object
destino    object
dtype: object