In [1]:
import json
import pandas as pd

In [5]:
#importamos json:
with open('clientes.json') as f:
    data=json.load(f)

In [6]:
#Pasamos json a dataframe:
df=pd.DataFrame.from_dict(data,orient='index')

In [12]:
df.head(2)

        origen      destino
0  C1231006815  M1979787155
1  C1666544295  M2044282225

In [ ]:
#AÃ±adimos columna t_id:
df=df.rename(columns={'antiguo':'nuevo'})

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
#exportamos a csv:
df.to_csv('D:/JUPITER/data/clientes.csv',index=False)