In [1]:
import json
import pandas as pd

In [2]:
with open('C:/Users/Pc/Desktop/Máster/Data Science (Pontia)/Proyecto Jupyter/Data/clientes.json') as f:
    d = json.load(f)

In [3]:
data={'t_id':[], 'origen':[], 'destino':[]}

for clave in d:
    data['t_id'].append(clave)
    data['origen'].append(d[clave]['origen'])
    data['destino'].append(d[clave]['destino'])

In [4]:
df = pd.DataFrame(data)
df.head(5)

  t_id       origen      destino
0    0  C1231006815  M1979787155
1    1  C1666544295  M2044282225
2    2  C1305486145   C553264065
3    3   C840083671    C38997010
4    4  C2048537720  M1230701703

In [5]:
df['t_id'] = df['t_id'].astype(int)

In [6]:
df['origen'] = df['origen'].astype('string')

In [7]:
df.dtypes

t_id        int32
origen     string
destino    object
dtype: object

In [8]:
df.tail()

            t_id       origen      destino
6362615  6362615   C786484425   C776919290
6362616  6362616  C1529008245  C1881841831
6362617  6362617  C1162922333  C1365125890
6362618  6362618  C1685995037  C2080388513
6362619  6362619  C1280323807   C873221189

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   t_id     int32
 1   origen   string
 2   destino  object
dtypes: int32(1), object(1), string(1)
memory usage: 121.4+ MB

In [10]:
#missing values
df.isna().sum()

t_id       0
origen     0
destino    0
dtype: int64

In [11]:
df.isnull().sum()

t_id       0
origen     0
destino    0
dtype: int64

In [12]:
#Valores únicos
df.t_id.value_counts()

0          1
4241732    1
4241754    1
4241753    1
4241752    1
          ..
2120869    1
2120868    1
2120867    1
2120866    1
6362619    1
Name: t_id, Length: 6362620, dtype: int64

In [13]:
df.origen.value_counts()

C1902386530    3
C2098525306    3
C363736674     3
C1530544995    3
C1065307291    3
              ..
C2043347152    1
C1317912992    1
C1896823979    1
C95254583      1
C1280323807    1
Name: origen, Length: 6353307, dtype: Int64

In [14]:
df.destino.value_counts()

C1286084959    113
C985934102     109
C665576141     105
C2083562754    102
C248609774     101
              ...
M1470027725      1
M1330329251      1
M1784358659      1
M2081431099      1
C2080388513      1
Name: destino, Length: 2722362, dtype: int64

In [15]:
df.to_csv('clientes.csv', sep= '|', index=False)