In [2]:
#importamos bibliotecas a utilizar:
import json
import pandas as pd

In [3]:
#importamos json:
with open('cuantia.json') as f:
    data=json.load(f)

In [4]:
d={"0": {"cuantia": 9839.64}, "1": {"cuantia": 1864.28}, "2": {"cuantia": 181.0}, "3": {"cuantia": 181.0}, "4": {"cuantia": 11668.14}, "5": {"cuantia": 7817.71}}

In [9]:
#Pasamos json a dataframe:
df=pd.DataFrame.from_dict(d,orient='index')

In [11]:
d

{'0': {'cuantia': 9839.64},
 '1': {'cuantia': 1864.28},
 '2': {'cuantia': 181.0},
 '3': {'cuantia': 181.0},
 '4': {'cuantia': 11668.14},
 '5': {'cuantia': 7817.71}}

In [10]:
df.head(10)

    cuantia
0   9839.64
1   1864.28
2    181.00
3    181.00
4  11668.14
5   7817.71

In [8]:
#exportamos a csv:
#df.to_csv('D:/JUPITER/data/cuantia.csv',index=False)