In [1]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/cuantia.json") as f:
    cuantia=json.load(f)

In [2]:
lista_cuantia = []
for clave, valor in cuantia.items():
        cuantia = {
            't_id': clave,
            'monto': valor['cuantia']
        }
        lista_cuantia.append(cuantia)

In [3]:
dfc=pd.DataFrame(lista_cuantia)

In [8]:
dfc.head(10)

   t_id     monto
0     0   9839.64
1     1   1864.28
2     2    181.00
3     3    181.00
4     4  11668.14
5     5   7817.71
6     6   7107.77
7     7   7861.64
8     8   4024.36
9     9   5337.77

In [5]:
dfc.dtypes

t_id      object
monto    float64
dtype: object

In [6]:
dfc['t_id'] = dfc['t_id'].astype(int)

In [7]:
dfc.dtypes

t_id       int32
monto    float64
dtype: object