In [1]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/es_fraude.json") as f:
    es_fraude=json.load(f)

In [2]:
lista_efraude=[]
for clave in es_fraude:
    fraude={
        't_id':clave,
        'Resultado': es_fraude[clave]
    }
    lista_efraude.append(fraude)

In [3]:
dfef = pd.DataFrame(lista_efraude)

In [4]:
dfef.head(15)

   t_id  Resultado
0     0      False
1     1      False
2     2       True
3     3       True
4     4      False
5     5      False
6     6      False
7     7      False
8     8      False
9     9      False
10   10      False
11   11      False
12   12      False
13   13      False
14   14      False

In [19]:
y=pd.get_dummies(dfef['Resultado'])

In [20]:
y

         False  True
0            1      0
1            1      0
2            0      1
3            0      1
4            1      0
...        ...    ...
6362515      0      1
6362516      0      1
6362517      0      1
6362518      0      1
6362519      0      1

[6362520 rows x 2 columns]

In [5]:
dfef.dtypes

t_id         object
Resultado      bool
dtype: object

In [7]:
dfef['t_id'] = dfef['t_id'].astype(int)

In [9]:
dfef.dtypes

t_id         int32
Resultado     bool
dtype: object

In [ ]:
dfef

In [10]:
data = pd.DataFrame({'x1':[1,2,3,4,5],  # Create pandas DataFrame
                     'x2':[True, False, False, True, True],
                     'x3':[False, True, True, False, False]})
print(data)

   x1     x2     x3
0   1   True  False
1   2  False   True
2   3  False   True
3   4   True  False
4   5   True  False

In [16]:
x=pd.get_dummies(data['x2'])

In [17]:
x

   False  True
0      0      1
1      1      0
2      1      0
3      0      1
4      0      1

In [18]:
x.dtypes

False    uint8
True     uint8
dtype: object

In [ ]:
for i in