In [1]:
import json
import pandas as pd

In [2]:
with open('C:/Users/Pc/Desktop/MÃ¡ster/Data Science (Pontia)/Proyecto Jupyter/Data/es_fraude.json') as f:
    d = json.load(f)

In [3]:
data={'t_id':[], 'fraude':[]}

for clave in d:
    data['t_id'].append(clave)
    data['fraude'].append(d[clave])

In [4]:
df = pd.DataFrame(data)
df.head(5)

  t_id  fraude
0    0   False
1    1   False
2    2    True
3    3    True
4    4   False

In [5]:
df.dtypes

t_id      object
fraude      bool
dtype: object

In [7]:
df['t_id'] = df['t_id'].astype(int)
df['t_id'] = df['t_id'].astype('string')

In [8]:
df.to_csv('es_fraude.csv', sep= '|', index=False)