In [1]:
import json
import pandas as pd

In [2]:
with open('C:/Users/Pc/Desktop/MÃ¡ster/Data Science (Pontia)/Proyecto Jupyter/Data/es_fraude.json') as f:
    d = json.load(f)

In [3]:
data={'t_id':[], 'fraude':[]}

for clave in d:
    data['t_id'].append(clave)
    data['fraude'].append(d[clave])

In [4]:
df = pd.DataFrame(data)
df.head()

  t_id  fraude
0    0   False
1    1   False
2    2    True
3    3    True
4    4   False

In [5]:
df.dtypes

t_id      object
fraude      bool
dtype: object

In [6]:
df['t_id'] = df['t_id'].astype(int)
df['fraude'] = df['fraude'].astype('string')

In [13]:
df.to_csv('es_fraude.csv', sep= '|', index=False)

In [7]:
df.tail()

            t_id fraude
6362515  6362615   True
6362516  6362616   True
6362517  6362617   True
6362518  6362618   True
6362519  6362619   True

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362520 entries, 0 to 6362519
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   t_id    int32
 1   fraude  string
dtypes: int32(1), string(1)
memory usage: 72.8 MB

In [10]:
#missing values
df.isna().sum()

t_id      0
fraude    0
dtype: int64

In [11]:
df.isnull().sum()

t_id      0
fraude    0
dtype: int64

In [12]:
df['fraude'].unique()

<StringArray>
['False', 'True']
Length: 2, dtype: string

In [14]:
import numpy as np

In [17]:
df['fraude_dummy'] = np.where( df['fraude'] == 'False' , 0, 1)

In [18]:
df.head()

   t_id fraude  fraude_dummy
0     0  False             0
1     1  False             0
2     2   True             1
3     3   True             1
4     4  False             0

In [19]:
df = df.drop('fraude', axis=1)

In [20]:
df.head()

   t_id  fraude_dummy
0     0             0
1     1             0
2     2             1
3     3             1
4     4             0