In [1]:
import json
import pandas as pd

In [2]:
with open('C:/Users/Pc/Desktop/MÃ¡ster/Data Science (Pontia)/Proyecto Jupyter/alarma_fraude.json') as f:
    d = json.load(f)

In [11]:
d.keys()

dict_keys(['2736446', '3247297', '3760288', '5563713', '5996407', '5996409', '6168499', '6205439', '6266413', '6281482', '6281484', '6296014', '6351225', '6362460', '6362462', '6362584'])

In [3]:
data={'t_id':[]}

for clave in d.keys():
    data['t_id'].append(clave)

In [4]:
df = pd.DataFrame(data)
df.head(5)

      t_id
0  2736446
1  3247297
2  3760288
3  5563713
4  5996407

In [5]:
df.to_csv('potenciales_transacciones_fraudulentas.csv', sep= '|')