In [1]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/tiempo.json") as f:
    tiempo=json.load(f)

In [2]:
lista_tiempo = []
for clave in tiempo:
    for t_id in tiempo[clave]:
        lista_tiempo.append([clave, t_id])

In [3]:
d= pd.DataFrame(lista_tiempo,columns=['tiempo', 't_id'])

In [4]:
d

        tiempo     t_id
0            1        0
1            1        1
2            1        2
3            1        3
4            1        4
...        ...      ...
6362615    743  6362615
6362616    743  6362616
6362617    743  6362617
6362618    743  6362618
6362619    743  6362619

[6362620 rows x 2 columns]

In [5]:
d['tiempo'] = d['tiempo'].astype(int)

In [6]:
d.dtypes

tiempo    int32
t_id      int64
dtype: object

In [7]:
from datetime import datetime, timedelta
start_date = datetime(2022, 9, 1, 7)
dates=[]
for i in range(1,744):
    dates.append(start_date + timedelta(hours=i-1))
date=pd.DataFrame(dates,columns=['fecha y hora'])
date.index = [i+1 for i in range(len(date))]
datefinal=date.reset_index()

In [8]:
datefinal.tail(10)

     index        fecha y hora
733    734 2022-10-01 20:00:00
734    735 2022-10-01 21:00:00
735    736 2022-10-01 22:00:00
736    737 2022-10-01 23:00:00
737    738 2022-10-02 00:00:00
738    739 2022-10-02 01:00:00
739    740 2022-10-02 02:00:00
740    741 2022-10-02 03:00:00
741    742 2022-10-02 04:00:00
742    743 2022-10-02 05:00:00

In [9]:
datefinal.columns

Index(['index', 'fecha y hora'], dtype='object')

In [10]:
nuevo_dataframe = d.merge(datefinal,left_on='tiempo', right_on='index')

In [11]:
nuevo_dataframe.tail(10)

         tiempo     t_id  index        fecha y hora
6362610     742  6362610    742 2022-10-02 04:00:00
6362611     742  6362611    742 2022-10-02 04:00:00
6362612     743  6362612    743 2022-10-02 05:00:00
6362613     743  6362613    743 2022-10-02 05:00:00
6362614     743  6362614    743 2022-10-02 05:00:00
6362615     743  6362615    743 2022-10-02 05:00:00
6362616     743  6362616    743 2022-10-02 05:00:00
6362617     743  6362617    743 2022-10-02 05:00:00
6362618     743  6362618    743 2022-10-02 05:00:00
6362619     743  6362619    743 2022-10-02 05:00:00

In [12]:
dfinal=nuevo_dataframe[['t_id', 'fecha y hora']]

In [13]:
dfinal

            t_id        fecha y hora
0              0 2022-09-01 07:00:00
1              1 2022-09-01 07:00:00
2              2 2022-09-01 07:00:00
3              3 2022-09-01 07:00:00
4              4 2022-09-01 07:00:00
...          ...                 ...
6362615  6362615 2022-10-02 05:00:00
6362616  6362616 2022-10-02 05:00:00
6362617  6362617 2022-10-02 05:00:00
6362618  6362618 2022-10-02 05:00:00
6362619  6362619 2022-10-02 05:00:00

[6362620 rows x 2 columns]

In [14]:
dfinal.dtypes

t_id                     int64
fecha y hora    datetime64[ns]
dtype: object