In [1]:
import json
import pandas as pd

In [2]:
with open('C:/Users/Pc/Desktop/Máster/Data Science (Pontia)/Proyecto Jupyter/Data/tipo.json') as f:
    d = json.load(f)

In [3]:
d.keys()

dict_keys(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'])

In [4]:
data={'t_id':[], 'tipo':[]}

for elemento in d["PAYMENT"]["t_id"]:
    data['t_id'].append(elemento)
    data['tipo'].append("PAYMENT")

for elemento in d["TRANSFER"]["t_id"]:
    data['t_id'].append(elemento)
    data['tipo'].append("TRANSFER")

for elemento in d["CASH_OUT"]["t_id"]:
    data['t_id'].append(elemento)
    data['tipo'].append("CASH_OUT")

for elemento in d["DEBIT"]["t_id"]:
    data['t_id'].append(elemento)
    data['tipo'].append("DEBIT")

for elemento in d["CASH_IN"]["t_id"]:
    data['t_id'].append(elemento)
    data['tipo'].append("CASH_IN")

In [5]:
df = pd.DataFrame(data)
df.head(5)

            t_id     tipo
0              0  PAYMENT
1              1  PAYMENT
2              4  PAYMENT
3              5  PAYMENT
4              6  PAYMENT
...          ...      ...
6362615  6362253  CASH_IN
6362616  6362271  CASH_IN
6362617  6362279  CASH_IN
6362618  6362298  CASH_IN
6362619  6362315  CASH_IN

[6362620 rows x 2 columns]

In [7]:
df.dtypes

t_id     int64
tipo    object
dtype: object

In [ ]:
df.to_csv('tipo.csv', sep= '|', index=False)