In [1]:
import json
import pandas as pd

In [2]:
#importamos json:
with open('tipo.json') as f:
    data=json.load(f)

In [3]:
#Pasamos json a dataframe:
df=pd.DataFrame.from_dict(data, orient="index")

In [6]:
df.head(20)

              tipo                                               t_id
PAYMENT    PAYMENT  [0, 1, 4, 5, 6, 7, 8, 11, 12, 13, 14, 16, 17, ...
TRANSFER  TRANSFER  [2, 19, 24, 58, 78, 79, 80, 81, 82, 83, 84, 85...
CASH_OUT  CASH_OUT  [3, 15, 42, 47, 48, 51, 60, 70, 71, 72, 106, 1...
DEBIT        DEBIT  [9, 10, 21, 22, 41, 59, 61, 62, 64, 68, 121, 1...
CASH_IN    CASH_IN  [389, 390, 391, 392, 393, 394, 395, 396, 397, ...

In [7]:
#exportamos a csv:
#df.to_csv('D:/JUPITER/data/tipo.csv',index=False)