In [1]:
import json
import pandas as pd

In [2]:
with open('C:/Users/Pc/Desktop/Máster/Data Science (Pontia)/Proyecto Jupyter/Data/balances.json') as f:
    d = json.load(f)

In [3]:
#Transformación de los datos
data={'cliente': [], 't_id':[], 'balance_prev':[], 'balance_post':[]}

for clave in d:
    for i in range(len(d[clave])):
        data['cliente'].append(clave)
        data['t_id'].append(d[clave][i]['t_id'])
        data['balance_prev'].append(d[clave][i]['balance_prev'])
        data['balance_post'].append(d[clave][i]['balance_post'])

#print(data)

In [4]:
df = pd.DataFrame(data)

df.head(10)

       cliente   t_id  balance_prev  balance_post
0  C1231006815      0     170136.00     160296.36
1  M1979787155      0          0.00          0.00
2  C1666544295      1      21249.00      19384.72
3  M2044282225      1          0.00          0.00
4  C1305486145      2        181.00          0.00
5   C553264065      2          0.00          0.00
6   C553264065   6167          0.00     109985.65
7   C553264065   7903     109985.65      99729.44
8   C553264065  16381      99729.44       5254.44
9   C553264065  20003     211351.84       5254.44

In [5]:
print(df.head())

       cliente  t_id  balance_prev  balance_post
0  C1231006815     0      170136.0     160296.36
1  M1979787155     0           0.0          0.00
2  C1666544295     1       21249.0      19384.72
3  M2044282225     1           0.0          0.00
4  C1305486145     2         181.0          0.00

In [6]:
df.tail()

              cliente     t_id  balance_prev  balance_post
12725235  C1881841831  6362616          0.00           0.0
12725236  C1162922333  6362617    6311409.28           0.0
12725237  C1685995037  6362618     850002.52           0.0
12725238  C2080388513  6362618          0.00           0.0
12725239  C1280323807  6362619     850002.52           0.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12725240 entries, 0 to 12725239
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   cliente       object
 1   t_id          int64
 2   balance_prev  float64
 3   balance_post  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 388.3+ MB

In [8]:
#missing values
df.isna().sum()

cliente         0
t_id            0
balance_prev    0
balance_post    0
dtype: int64

In [9]:
df.isnull().sum()

cliente         0
t_id            0
balance_prev    0
balance_post    0
dtype: int64

In [11]:
#Valores únicos
df.balance_prev.value_counts()

0.00          4806837
184.00            934
133.00            925
164.00            925
109.00            922
               ...
537670.82           1
92985.71            1
65591.57            1
374580.44           1
1153042.12          1
Name: balance_prev, Length: 5393616, dtype: int64

In [12]:
df.balance_post.value_counts()

0.00           6048999
10000000.00         53
971418.91           32
19169204.93         29
1254956.07          25
                ...
345176.34            1
110979.08            1
216364.13            1
444884.39            1
1929841.08           1
Name: balance_post, Length: 6167874, dtype: int64

In [13]:
display(df.isna().sum(axis = 0))

cliente         0
t_id            0
balance_prev    0
balance_post    0
dtype: int64

In [6]:
df.to_csv('balance.csv', sep= '|', index=False)