In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
sns.set(rc={'figure.figsize':(14,12)})

# Para suprimir los warnings de scikitlearn por convergencia prematura
from warnings import simplefilter
from sklearn.exceptions import ConvergenceWarning
simplefilter("ignore", category=ConvergenceWarning)

In [3]:
dec_fraude = pd.read_csv('C:/Users/Pc/Desktop/MÃ¡ster/Data Science (Pontia)/Proyecto Jupyter/Csv/dec_fraude.csv')

In [4]:
dec_fraude.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
dec_fraude.head(5)

,t_id,tipo,tiempo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev_or,balance_post_or,balance_prev_des,balance_post_des
0,0,PAYMENT,2022-09-01 07:00:00,9839.64,C1231006815,M1979787155,0,No,170136.0,160296.36,0.0,0.0
1,1,PAYMENT,2022-09-01 07:00:00,1864.28,C1666544295,M2044282225,0,No,21249.0,19384.72,0.0,0.0
2,2,TRANSFER,2022-09-01 07:00:00,181.00,C1305486145,C553264065,1,No,181.0,0.00,0.0,0.0
3,3,CASH_OUT,2022-09-01 07:00:00,181.00,C840083671,C38997010,1,No,181.0,0.00,21182.0,0.0
4,4,PAYMENT,2022-09-01 07:00:00,11668.14,C2048537720,M1230701703,0,No,41554.0,29885.86,0.0,0.0

In [6]:
dec_fraude['tiempo'] = pd.to_datetime(dec_fraude['tiempo'])

In [7]:
dec_fraude['hora']=dec_fraude['tiempo'].dt.hour

In [8]:
dec_fraude.dtypes

t_id                         int64
tipo                        object
tiempo              datetime64[ns]
monto                      float64
cl_origen                   object
cl_destino                  object
es_fraude                    int64
mensaje_alarma              object
balance_prev_or            float64
balance_post_or            float64
balance_prev_des           float64
balance_post_des           float64
hora                         int64
dtype: object

In [6]:
# VAMOS A CREAR EL DATAFRAME PARA ENTRENAR NUESTROS MODELOS

In [9]:
dec_fraude.head()

,t_id,tipo,tiempo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev_or,balance_post_or,balance_prev_des,balance_post_des,hora
0,0,PAYMENT,2022-09-01 07:00:00,9839.64,C1231006815,M1979787155,0,No,170136.0,160296.36,0.0,0.0,7
1,1,PAYMENT,2022-09-01 07:00:00,1864.28,C1666544295,M2044282225,0,No,21249.0,19384.72,0.0,0.0,7
2,2,TRANSFER,2022-09-01 07:00:00,181.00,C1305486145,C553264065,1,No,181.0,0.00,0.0,0.0,7
3,3,CASH_OUT,2022-09-01 07:00:00,181.00,C840083671,C38997010,1,No,181.0,0.00,21182.0,0.0,7
4,4,PAYMENT,2022-09-01 07:00:00,11668.14,C2048537720,M1230701703,0,No,41554.0,29885.86,0.0,0.0,7

In [10]:
dec_fraude.drop('tiempo', axis=1, inplace=True)

In [11]:
dec_fraude['tipo'].unique()

array(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'],
      dtype=object)

In [12]:
dec_fraude.shape

(6362520, 12)

In [13]:
dec_fraude_tc = dec_fraude.loc[(dec_fraude['tipo'] == 'TRANSFER') | (dec_fraude['tipo'] == 'CASH_OUT')].copy()

In [14]:
dec_fraude_tc.reset_index(drop=True,inplace=True)

In [16]:
dec_fraude_tc.head()

,t_id,tipo,monto,cl_origen,cl_destino,es_fraude,mensaje_alarma,balance_prev_or,balance_post_or,balance_prev_des,balance_post_des,hora
0,2,TRANSFER,181.00,C1305486145,C553264065,1,No,181.0,0.0,0.0,0.00,7
1,3,CASH_OUT,181.00,C840083671,C38997010,1,No,181.0,0.0,21182.0,0.00,7
2,15,CASH_OUT,229133.94,C905080434,C476402209,0,No,15325.0,0.0,5083.0,51513.44,7
3,19,TRANSFER,215310.30,C1670993182,C1100439041,0,No,705.0,0.0,22425.0,0.00,7
4,24,TRANSFER,311685.89,C1984094095,C932583850,0,No,10835.0,0.0,6267.0,2719172.89,7

In [17]:
dec_fraude_tc['tipo'].unique()

array(['TRANSFER', 'CASH_OUT'], dtype=object)

In [18]:
dec_fraude_tc.shape

(2770360, 12)

In [19]:
from sklearn.preprocessing import LabelBinarizer

lb = LabelBinarizer()
dec_fraude_tc['tipo_binario'] = lb.fit_transform(dec_fraude_tc['tipo'])

In [20]:
dec_fraude_tc.drop('tipo', axis=1, inplace=True)

In [21]:
dec_fraude_tc.drop('t_id', axis=1, inplace=True)

In [22]:
dec_fraude_tc.drop('cl_origen', axis=1, inplace=True)

In [23]:
dec_fraude_tc.drop('cl_destino', axis=1, inplace=True)

In [24]:
dec_fraude_tc.drop('mensaje_alarma', axis=1, inplace=True)

In [27]:
dec_fraude_tc.drop('balance_post_or', axis=1, inplace=True)

In [28]:
dec_fraude_tc.drop('balance_post_des', axis=1, inplace=True)

In [29]:
dec_fraude_tc.head(8)

       monto  es_fraude  balance_prev_or  balance_prev_des  hora  tipo_binario
0     181.00          1           181.00               0.0     7             1
1     181.00          1           181.00           21182.0     7             0
2  229133.94          0         15325.00            5083.0     7             0
3  215310.30          0           705.00           22425.0     7             1
4  311685.89          0         10835.00            6267.0     7             1
5  110414.71          0         26845.41          288800.0     7             0
6   56953.90          0          1942.02           70253.0     7             0
7    5346.89          0             0.00          652637.0     7             0

In [33]:
dec_fraude_tc.to_csv('C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/Definitivo/DDF.csv', sep= '|', index=False)