In [1]:
import json
import pandas as pd

In [2]:
with open("C:/Users/Pc/Desktop/MÃ¡ster/Data Science (Pontia)/Proyecto Jupyter/Data/tiempo.json") as f:
    d=json.load(f)

In [3]:
data={'t_id':[], 'tiempo':[]}

for clave in d:
    for i in range(len(d[clave])):
        data['tiempo'].append(clave)
        data['t_id'].append(d[clave][i])

In [4]:
df = pd.DataFrame(data)
df.head()

   t_id tiempo
0     0      1
1     1      1
2     2      1
3     3      1
4     4      1

In [5]:
df.tail()

            t_id tiempo
6362615  6362615    743
6362616  6362616    743
6362617  6362617    743
6362618  6362618    743
6362619  6362619    743

In [6]:
df['tiempo'] = df['tiempo'].astype(int)

In [7]:
df.dtypes

t_id      int64
tiempo    int32
dtype: object

In [8]:
from datetime import datetime, timedelta
start_date = datetime(2022, 9, 1, 7)
dates=[]
for i in range(1,744):
    dates.append(start_date + timedelta(hours=i-1))
date=pd.DataFrame(dates,columns=['fecha y hora'])
date.index = [i+1 for i in range(len(date))]
datefinal=date.reset_index()

In [9]:
datefinal.columns

Index(['index', 'fecha y hora'], dtype='object')

In [10]:
nuevo_dataframe = df.merge(datefinal,left_on='tiempo', right_on='index')

In [11]:
dfinal=nuevo_dataframe[['t_id', 'fecha y hora']]

In [12]:
dfinal.dtypes

t_id                     int64
fecha y hora    datetime64[ns]
dtype: object

In [13]:
dfinal.sample(5)

            t_id        fecha y hora
1953400  1953400 2022-09-08 16:00:00
4970029  4970029 2022-09-15 21:00:00
5129207  5129207 2022-09-16 02:00:00
5025625  5025625 2022-09-15 23:00:00
1706310  1706310 2022-09-07 22:00:00

In [14]:
dfinal.to_csv('tiempo.csv', sep= '|', index=False)