In [1]:
import json
import pandas as pd

In [2]:
with open('C:/Users/Pc/Desktop/MÃ¡ster/Data Science (Pontia)/Proyecto Jupyter/Data/tipo.json') as f:
    d = json.load(f)

In [3]:
d.keys()

dict_keys(['PAYMENT', 'TRANSFER', 'CASH_OUT', 'DEBIT', 'CASH_IN'])

In [4]:
data={'t_id':[], 'tipo':[]}

for elemento in d["PAYMENT"]["t_id"]:
    data['t_id'].append(elemento)
    data['tipo'].append("PAYMENT")

for elemento in d["TRANSFER"]["t_id"]:
    data['t_id'].append(elemento)
    data['tipo'].append("TRANSFER")

for elemento in d["CASH_OUT"]["t_id"]:
    data['t_id'].append(elemento)
    data['tipo'].append("CASH_OUT")

for elemento in d["DEBIT"]["t_id"]:
    data['t_id'].append(elemento)
    data['tipo'].append("DEBIT")

for elemento in d["CASH_IN"]["t_id"]:
    data['t_id'].append(elemento)
    data['tipo'].append("CASH_IN")

In [5]:
df = pd.DataFrame(data)
df.head(5)

   t_id     tipo
0     0  PAYMENT
1     1  PAYMENT
2     4  PAYMENT
3     5  PAYMENT
4     6  PAYMENT

In [6]:
df.dtypes

t_id     int64
tipo    object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   t_id    int64
 1   tipo    object
dtypes: int64(1), object(1)
memory usage: 97.1+ MB

In [8]:
df.isna().sum()

t_id    0
tipo    0
dtype: int64

In [9]:
df.isnull().sum()

t_id    0
tipo    0
dtype: int64

In [10]:
df.tipo.value_counts()

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: tipo, dtype: int64

In [11]:
df.to_csv('tipo.csv', sep= '|', index=False)