In [6]:
import json
import pandas as pd
import numpy as np

In [2]:
with open("C:/Users/Pc/Desktop/Máster/Data Science (Pontia)/Proyecto Jupyter/Data/es_fraude.json") as f:
    d1=json.load(f)

In [3]:
with open("C:/Users/Pc/Desktop/Máster/Data Science (Pontia)/Proyecto Jupyter/Data/alarma_fraude.json") as f:
    d2=json.load(f)

In [4]:
data={'t_id':[], 'fraude':[]}

for clave in d1:
    data['t_id'].append(clave)
    data['fraude'].append(d1[clave])

In [7]:
df = pd.DataFrame(data)
df.head()

  t_id  fraude
0    0   False
1    1   False
2    2    True
3    3    True
4    4   False

In [8]:
df.dtypes

t_id      object
fraude      bool
dtype: object

In [9]:
df['t_id'] = df['t_id'].astype(int)
df['fraude'] = df['fraude'].astype('string')

In [10]:
df.tail()

            t_id fraude
6362515  6362615   True
6362516  6362616   True
6362517  6362617   True
6362518  6362618   True
6362519  6362619   True

In [11]:
#missing values
df.isna().sum()

t_id      0
fraude    0
dtype: int64

In [12]:
df.isnull().sum()

t_id      0
fraude    0
dtype: int64

In [13]:
df['fraude'].unique()

<StringArray>
['False', 'True']
Length: 2, dtype: string

In [14]:
df['fraude_dummy'] = np.where( df['fraude'] == 'False' , 0, 1)

In [15]:
df.head()

   t_id fraude  fraude_dummy
0     0  False             0
1     1  False             0
2     2   True             1
3     3   True             1
4     4  False             0

In [16]:
df = df.drop('fraude', axis=1)

In [17]:
df.head()

   t_id  fraude_dummy
0     0             0
1     1             0
2     2             1
3     3             1
4     4             0

In [18]:
df= df.rename(columns={'fraude_dummy': 'es_fraude'})

In [19]:
df2 = pd.DataFrame.from_dict(d2, orient="index")
#df=df.rename(columns=({'t_id':'Trans_ID','mensaje_alarma':'Alarma'}))
print(type(df2))

<class 'pandas.core.frame.DataFrame'>

In [20]:
df2=df2.reset_index()

In [21]:
df2.head()

     index     t_id    mensaje_alarma
0  2736446  2736446  Detectado_fraude
1  3247297  3247297  Detectado_fraude
2  3760288  3760288  Detectado_fraude
3  5563713  5563713  Detectado_fraude
4  5996407  5996407  Detectado_fraude

In [22]:
df2 = df2.drop('index', axis=1)

In [23]:
df2

       t_id    mensaje_alarma
0   2736446  Detectado_fraude
1   3247297  Detectado_fraude
2   3760288  Detectado_fraude
3   5563713  Detectado_fraude
4   5996407  Detectado_fraude
5   5996409  Detectado_fraude
6   6168499  Detectado_fraude
7   6205439  Detectado_fraude
8   6266413  Detectado_fraude
9   6281482  Detectado_fraude
10  6281484  Detectado_fraude
11  6296014  Detectado_fraude
12  6351225  Detectado_fraude
13  6362460  Detectado_fraude
14  6362462  Detectado_fraude
15  6362584  Detectado_fraude

In [25]:
fraude= pd.merge(df, df2 ,how='left', on='t_id')

In [26]:
fraude.head(10)

   t_id  es_fraude mensaje_alarma
0     0          0            NaN
1     1          0            NaN
2     2          1            NaN
3     3          1            NaN
4     4          0            NaN
5     5          0            NaN
6     6          0            NaN
7     7          0            NaN
8     8          0            NaN
9     9          0            NaN

In [27]:
fraude['mensaje_alarma'] = np.where( fraude['mensaje_alarma'] == 'Detectado_fraude' , 'Detectado_fraude', 'No')

In [28]:
fraude.head(5)

   t_id  es_fraude mensaje_alarma
0     0          0             No
1     1          0             No
2     2          1             No
3     3          1             No
4     4          0             No

In [29]:
fraude.tail()

            t_id  es_fraude mensaje_alarma
6362515  6362615          1             No
6362516  6362616          1             No
6362517  6362617          1             No
6362518  6362618          1             No
6362519  6362619          1             No

In [31]:
fraude.sample(5)

            t_id  es_fraude mensaje_alarma
2830774  2830822          0             No
1705994  1706026          0             No
6041509  6041603          0             No
3150390  3150447          0             No
2139158  2139198          0             No

In [33]:
fraude['mensaje_alarma'] = fraude['mensaje_alarma'].astype('string')

In [34]:
fraude.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6362520 entries, 0 to 6362519
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   t_id            int32
 1   es_fraude       int32
 2   mensaje_alarma  string
dtypes: int32(2), string(1)
memory usage: 145.6 MB

In [35]:
#missing values
fraude.isna().sum()

t_id              0
es_fraude         0
mensaje_alarma    0
dtype: int64

In [36]:
fraude.isnull().sum()

t_id              0
es_fraude         0
mensaje_alarma    0
dtype: int64

In [38]:
fraude['es_fraude'].unique()

array([0, 1])

In [39]:
fraude['mensaje_alarma'].unique()

<StringArray>
['No', 'Detectado_fraude']
Length: 2, dtype: string

In [ ]:
fraude.to_csv('C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/fraude.csv', sep='|', index=False)