In [1]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/clientes (1).json") as f:
    clientes=json.load(f)

In [2]:
lista_clientes=[]
for t_id, datos in clientes.items():
    cliente = {
        't_id': t_id,
        'origen': datos['origen'],
        'destino': datos['destino']
    }
    lista_clientes.append(cliente)

In [3]:
clientes=pd.DataFrame(lista_clientes)

In [4]:
clientes.head(10)

  t_id       origen      destino
0    0  C1231006815  M1979787155
1    1  C1666544295  M2044282225
2    2  C1305486145   C553264065
3    3   C840083671    C38997010
4    4  C2048537720  M1230701703
5    5    C90045638   M573487274
6    6   C154988899   M408069119
7    7  C1912850431   M633326333
8    8  C1265012928  M1176932104
9    9   C712410124   C195600860

In [5]:
clientes['t_id'] = clientes['t_id'].astype(int)

In [6]:
clientes.dtypes

t_id        int32
origen     object
destino    object
dtype: object

In [7]:
clientes= clientes.rename(columns={'origen': 'cl_origen','destino':'cl_destino'})

In [8]:
clientes.head(10)

   t_id    cl_origen   cl_destino
0     0  C1231006815  M1979787155
1     1  C1666544295  M2044282225
2     2  C1305486145   C553264065
3     3   C840083671    C38997010
4     4  C2048537720  M1230701703
5     5    C90045638   M573487274
6     6   C154988899   M408069119
7     7  C1912850431   M633326333
8     8  C1265012928  M1176932104
9     9   C712410124   C195600860

In [9]:
clientes.to_csv('C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/clientes.csv', index=False)