In [50]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/es_fraude.json") as f:
    es_fraude=json.load(f)

In [51]:
lista_efraude=[]
for clave in es_fraude:
    fraude={
        't_id':clave,
        'Resultado': es_fraude[clave]
    }
    lista_efraude.append(fraude)

In [52]:
fraude = pd.DataFrame(lista_efraude)

In [53]:
fraude.isna().sum()

t_id         0
Resultado    0
dtype: int64

In [54]:
fraude.head(5)

  t_id  Resultado
0    0      False
1    1      False
2    2       True
3    3       True
4    4      False

In [55]:
fraude['t_id'] = fraude['t_id'].astype(int)
fraude['Resultado'] = fraude['Resultado'].astype('string')

In [56]:
fraude.dtypes

t_id          int32
Resultado    string
dtype: object

In [57]:
cantidad_duplicados = fraude['t_id'].duplicated().sum()
print("Número de filas duplicadas:", cantidad_duplicados)

Número de filas duplicadas: 0

# Alarma

In [58]:
import numpy as np

In [59]:
fraude['fraude_dummy'] = np.where( fraude['Resultado'] == 'False' , 0, 1)

In [60]:
fraude= fraude.drop('Resultado', axis=1)

In [61]:
with open("C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/alarma_fraude.json") as f:
    alarma=json.load(f)

In [62]:
lista_alfraude=[]
for clave, datos in alarma.items():
        alarma={
            't_id':datos['t_id'],
            'mensaje_alarma':datos['mensaje_alarma']
        }
        lista_alfraude.append(alarma)

In [63]:
alarma = pd.DataFrame(lista_alfraude)

In [64]:
alarma

       t_id    mensaje_alarma
0   2736446  Detectado_fraude
1   3247297  Detectado_fraude
2   3760288  Detectado_fraude
3   5563713  Detectado_fraude
4   5996407  Detectado_fraude
5   5996409  Detectado_fraude
6   6168499  Detectado_fraude
7   6205439  Detectado_fraude
8   6266413  Detectado_fraude
9   6281482  Detectado_fraude
10  6281484  Detectado_fraude
11  6296014  Detectado_fraude
12  6351225  Detectado_fraude
13  6362460  Detectado_fraude
14  6362462  Detectado_fraude
15  6362584  Detectado_fraude

In [65]:
cantidad_duplicados = alarma['mensaje_alarma'].duplicated().sum()
print("Número de filas duplicadas:", cantidad_duplicados)

Número de filas duplicadas: 15

# Unir dataframe

In [66]:
Fraude= pd.merge(fraude,alarma,on='t_id', how='left')

In [67]:
Fraude.head(5)

   t_id  fraude_dummy mensaje_alarma
0     0             0            NaN
1     1             0            NaN
2     2             1            NaN
3     3             1            NaN
4     4             0            NaN

In [83]:
Fraude['mensaje_alarma']=Fraude['mensaje_alarma'].fillna("No")
Fraude=Fraude.rename(columns={'fraude_dummy': 'es_fraude'})

In [85]:
Fraude.head(10)

   t_id  es_fraude mensaje_alarma
0     0          0             No
1     1          0             No
2     2          1             No
3     3          1             No
4     4          0             No
5     5          0             No
6     6          0             No
7     7          0             No
8     8          0             No
9     9          0             No

# comprobar que esta correcto las detección de fraude con sus respectivos t_id

In [68]:
string_buscar = 'Detectado_fraude'
resultados = Fraude.loc[Fraude['mensaje_alarma'] == string_buscar, 't_id']

In [69]:
resultados

2736399    2736446
3247240    3247297
3760224    3760288
5563622    5563713
5996313    5996407
5996315    5996409
6168403    6168499
6205342    6205439
6266315    6266413
6281382    6281482
6281384    6281484
6295914    6296014
6351125    6351225
6362360    6362460
6362362    6362462
6362484    6362584
Name: t_id, dtype: int32

In [70]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {'columna_string': ['ejemplo_string', 'otro_string', 'ejemplo_string', 'tercer_string'],
        't_id': [1, 2, 3, 4]}
df = pd.DataFrame(data)

# Mostrar t_id correspondiente a un determinado string en columna_string
string_buscar = 'ejemplo_string'
resultados = df.loc[df['columna_string'] == string_buscar, 't_id']

# Imprimir los resultados
print(resultados)

0    1
2    3
Name: t_id, dtype: int64