In [57]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/clientes (1).json") as f:
    clientes=json.load(f)

In [58]:
lista_clientes=[]
for t_id, datos in clientes.items():
    cliente = {
        't_id': t_id,
        'origen': datos['origen'],
        'destino': datos['destino']
    }
    lista_clientes.append(cliente)

In [59]:
df=pd.DataFrame(lista_clientes)

In [60]:
tipo=df.dtypes
tipo

t_id       object
origen     object
destino    object
dtype: object

In [61]:
df.head(12)

   t_id       origen      destino
0     0  C1231006815  M1979787155
1     1  C1666544295  M2044282225
2     2  C1305486145   C553264065
3     3   C840083671    C38997010
4     4  C2048537720  M1230701703
5     5    C90045638   M573487274
6     6   C154988899   M408069119
7     7  C1912850431   M633326333
8     8  C1265012928  M1176932104
9     9   C712410124   C195600860
10   10  C1900366749   C997608398
11   11   C249177573  M2096539129

In [62]:
df.shape

(6362620, 3)

In [63]:
df['t_id'] = df['t_id'].astype(int)

In [64]:
df.dtypes

t_id        int32
origen     object
destino    object
dtype: object

In [65]:
cliente=df['t_id']

In [66]:
clientes=pd.DataFrame(cliente)

In [68]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/tipo.json") as f:
    tipo=json.load(f)

In [69]:
lista_tipo = []
for clave, datos in tipo.items():
    for t_id in datos['t_id']:
        lista_tipo.append([t_id, datos['tipo']])

In [70]:
dft = pd.DataFrame(lista_tipo,columns=['t_id', 'tipo'])

In [72]:
dft.isnull().sum()

t_id    0
tipo    0
dtype: int64

In [73]:
nuevo_df= clientes.merge(dft,left_on='t_id', right_on='t_id')

In [75]:
nuevo_df.isnull().sum()

t_id    0
tipo    0
dtype: int64

In [76]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/tiempo.json") as f:
    tiempo=json.load(f)

In [77]:
lista_tiempo = []
for clave in tiempo:
    for t_id in tiempo[clave]:
        lista_tiempo.append([clave, t_id])

In [78]:
d=pd.DataFrame(lista_tiempo,columns=['tiempo', 't_id'])

In [80]:
d.dtypes

tiempo    object
t_id       int64
dtype: object

In [81]:
d['tiempo'] = d['tiempo'].astype(int)

In [82]:
d.dtypes

tiempo    int32
t_id      int64
dtype: object

# Creando tabla de tiempo

In [83]:
from datetime import datetime, timedelta
start_date = datetime(2022, 9, 1, 7)
dates=[]
for i in range(1,744):
    dates.append(start_date + timedelta(hours=i-1))
date=pd.DataFrame(dates,columns=['fecha y hora'])
date.index = [i+1 for i in range(len(date))]
datefinal=date.reset_index()

In [85]:
nuevo_dataframe = d.merge(datefinal,left_on='tiempo', right_on='index')

In [87]:
dfinal=nuevo_dataframe[['t_id', 'fecha y hora']]

In [89]:
nuevo_df1= nuevo_df.merge(dfinal,left_on='t_id', right_on='t_id')

# Tabla Final

In [91]:
import json
import pandas as pd
with open("C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/cuantiafinal.json") as f:
    cuantia=json.load(f)

In [92]:
lista_cuantia = []
for clave, valor in cuantia.items():
        cuantia = {
            't_id': clave,
            'monto': valor['cuantia']
        }
        lista_cuantia.append(cuantia)

In [94]:
dfc=pd.DataFrame(lista_cuantia)

In [95]:
dfc.isnull().sum()

t_id     0
monto    0
dtype: int64

In [97]:
dfc.dtypes

t_id      object
monto    float64
dtype: object

In [98]:
dfc['t_id'] = dfc['t_id'].astype(int)

In [99]:
dfc.dtypes

t_id       int32
monto    float64
dtype: object

In [100]:
transacciones= nuevo_df1.merge(dfc,left_on='t_id', right_on='t_id')

In [102]:
prueba=transacciones.sample(5)

In [103]:
transacciones= transacciones.rename(columns={'fecha y hora': 'tiempo'})

In [104]:
transacciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6362620 entries, 0 to 6362619
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   t_id    int32
 1   tipo    object
 2   tiempo  datetime64[ns]
 3   monto   float64
dtypes: datetime64[ns](1), float64(1), int32(1), object(1)
memory usage: 218.4+ MB

# El límite de pago con tarjeta de débito al mes es de 5000€.

In [105]:
tlimit = transacciones[(transacciones['tipo'] == 'DEBIT') & (transacciones['monto'] > 5000)]

In [1]:
tlimit['mes'] = tlimit['tiempo'].dt.month

NameError: name 'tlimit' is not defined

In [108]:
t_id_por_mes = tlimit.groupby('mes')['t_id'].unique()

In [109]:
t_id_por_mes

mes
9     [9, 10, 21, 41, 59, 62, 68, 306, 326, 330, 517...
10    [6358229, 6358348, 6358366, 6358416, 6358986, ...
Name: t_id, dtype: object

In [ ]:
#transacciones.to_csv('C:/Users/maria/OneDrive/Escritorio/pontia/Proyecto/transacciones.csv', index=False)